# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Logs
*.log
logs/
*.syslog

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# ABL/GBL Binary & Build Assets
*.bin
*.img
*.efi
extracted/
images/
!images/PUT_ABL_IMG_HERE

# VS Code
.vscode/

edk2/build_modulepkg.log
